@page
@model Projekt.NET_CORE.Pages.ViewTraces.AddModel
@{
}
<br />
<h1>Dodaj nową trasę do bazy</h1>
<br />
<br />
<div class="rounded p-5 border">
    <form method="post" enctype="multipart/form-data">
        <br />
        <div class="col-12 text-center">
            <h2>Nowa trasa</h2>
        </div>
        <br />
        <div class="row col-12 alert alert-danger" role="alert" asp-validation-summary="ModelOnly">
            W formularzu wystąpiły błędy poraw je !
        </div>
        <div class="row col-12">
            <div class="form-group col-6">
                <div>
                    <label style="font-weight: bold">Nazwa trasy</label>
                </div>
                <div>
                    <input asp-for="Trace.TraceName" class="form-control" placeholder="Nazwa trasy" required/>
                </div>
            </div>
            <div class="form-group col-6">
                <div>
                    <label style="font-weight: bold">Data</label>
                </div>
                <div>
                    <input asp-for="Trace.Date" type="date" class="form-control" required/>
                </div>
            </div>
            <div class="form-group col-6">
                <div>
                    <label style="font-weight: bold">Początek trasy</label>
                </div>
                <div>
                    <input asp-for="Trace.TraceStart" class="form-control" placeholder="Nazwa miejsca rozpoczęcia trasy" required/>
                </div>
            </div>
            <div class="form-group col-6">
                <div>
                    <label style="font-weight: bold">Koniec trasy</label>
                </div>
                <div>
                    <input asp-for="Trace.TraceEnd" class="form-control" placeholder="Nazwa miejsca zakończenia trasy" required/>
                </div>
            </div>
            <div class="col-12">
                <label style="font-weight: bold">Koniec trasy</label>
            </div>
            <div class="form-group col-12">
                <div>
                    <label class=" m-sm-3" for="customFile">Wybierz plik GPX</label>
                    <input  type="file" name="file" id="customFile" accept=".gpx" required>
                </div>
            </div>
            <div class="form-group col-12 p-2 mt-4 row">
                <div class="col-6 p-2">
                    <input  type="submit" class="btn btn-success w-100" value="Dodaj !" />
                </div>
                <div class="col-6 p-2">
                    <a asp-page="Index" class="btn btn-danger w-100"> Wróć do listy</a>
                </div>
            </div>
        </div>
    </form>
</div>
