@page
@model Projekt.NET_CORE.Pages.BingMapsModel
@{
    ViewData["Title"] = "BingMaps";
}


<body style="width: 100%; margin:0;">

    <style>
        #myMap {
            margin-left:0;
            position: center;
            width: 98.5vw;
            height: 80vh;
            background-color: gray;
        }
    </style>
    <div id="myMap"></div>
</body>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Ak22Tg8UA9AZMvtIQPfXhvZrK2T7sBcqHcGjr9MsgTzeaFMnhokp3ipl5xv17XKg' async defer></script>
<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap');
        Microsoft.Maps.loadModule('Microsoft.Maps.GeoXml', function () {
            var layer = new Microsoft.Maps.GeoXmlLayer('http://127.0.0.1:8887/0_1_mapstogpx20210119_154254%20(6).gpx');
            map.layers.insert(layer);
        });
        //Add your post map load code here.
    }
</script>
