@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}S

<div class="text-center" style="margin-left:auto">
    <h1 class="display-4">Elo Elo Elo 321</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>





