@page
@model Projekt.NET_CORE.Pages.MapBoxModel
@{
    ViewData["Title"] = "MapBox";
}

<head>
    <meta charset=utf-8 />
    <title>A simple map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
    <style>
        #map {
            margin-left: 0;
            width: 99vw;
            height: 80vh;
            background-color: gray;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id='map'></div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibWF4ZGVsMTIzIiwiYSI6ImNrazdkOGViMDA5cHkydmxuY2czaDZmdGoifQ.DDBmV-ncFK5iyZVuS6wlqQ';
        var map = L.mapbox.map('map')
            .setView([40, -74.50], 9)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
        const gpx = 'http://192.168.184.1:8887/Do%20uj_cia%20Bugu%20(bezdro_ami%20p%C3%B3_nocnego%20Mazowsza%20V).gpx'
        new L.GPX(gpx, {
            async: true, marker_options: {
                wptIcons: {
                    wptIconUrls: {
                        '': 'https://raw.githubusercontent.com/mpetazzoni/leaflet-gpx/main/pin-icon-end.png',
                    },
                }
            }
        }).on('loaded', function (e) {
            map.fitBounds(e.target.getBounds());
        }).addTo(map);

    </script>
</body>