@page
@model Projekt.NET_CORE.Pages.OpenStreetMapModel
@{
    ViewData["Title"] = "OpenStreetMap";
}


<style>
    #mapid {
        margin-left: 0;
        width: 100vw;
        height: 82vh;
        background-color: gray;
        padding: 0;
    }
</style>



<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<body style="width: 100%; margin:0;">
    <div id="mapid"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
</body>
<script>
    var map = new L.Map('mapid', {
        layers: [
            new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                'attribution': 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
            })
        ],
        center: [51.505, -0.09],
        zoom: 13
    });

    var gpx = 'mapstogpx20210120_133956.gpx'; // URL to your GPX file or the GPX itself
    new L.GPX(gpx, { async: true }).on('loaded', function (e) {
        map.fitBounds(e.target.getBounds());
    }).addTo(map);

</script>

